{% extends 'layouts/base.html' %}

{% block title %} Recipes {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .recipe-card {
    height: 100%;
    margin-bottom: 20px; /* Add margin to create spacing between recipe cards */
  }

  .recipe-image {
    height: 200px; /* Adjust the height as needed */
    object-fit: cover;
  }
</style>
{% endblock stylesheets %}

{% block content %}
  {% include "includes/navigation-light.html" %}

  <section class="py-3 pt-4">
    {% include "recipe/create_recipe.html" %}
    <div class="container">
      <div class="row justify-content-center">
        {% for recipe in recipes %}
          <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <div class="card recipe-card mb-4">
              <a href="{{ url_for('recipe_blueprint.get_recipe', id=recipe['id']) }}">
                <img src="{{ recipe['image_url'] }}" class="card-img-top recipe-image" alt="Recipe Image">
              </a>
            <div class="card-body">
              <h5 class="card-title">{{ recipe['title'] }}</h5>
              <p class="card-text text-truncate">{{ recipe['description'] }}</p>
              <div class="card-body px-0">
                <p>Likes: {{ recipe['like_count'] }}</p>
                <p>Comments: {{ recipe['comment_count'] }}</p>
              </div>  
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}
